*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#game-window{
    
    margin-left: 306px;
    margin-top: -904px;
}

#canvas{
    border-style: none;
    border-color: red;
    border-width: 1px;
    
}

#game-over{
    visibility: hidden;
}

#game-intro{
    width: 250px;
    display: flex;
    position:absolute;
    margin-right: 300px;
}

#instructions{
    background-color: beige;
    width: 300px;
}

#keyboard-arrows{
    width: 150px;
    position: absolute;
    margin-top: -250px;
    margin-left: 50px;
    background-color: rgba(255, 235, 205, 0.794);
    padding-right:29px;
    padding-left: 25px;
}

#start-button{
    position: absolute;
    margin-left: 50px;
    margin-top: -150px;
    padding: 50px;
    border-radius: 50px;
    color: white;
    background-color: darkred;
}

#intro-text{
    position: absolute;
    padding: 20px;
    margin-left: 50px;
    margin-top: -350px;
    background-color: rgba(255, 235, 205, 0.794);
}